@font-face {
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v18-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v18-latin-700.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

/* a {
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: 1px;
  color: #81859F;

}

header {
  background-color: #f5f5f5;
}

.header__profile__img {
  display: flex;
  justify-content: center;
}

.header__profile__img img {
  border-radius: 50%;
  height: 200px;
  margin: 2rem 0;
}

.header__profile__title {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000
}

.header__profile__title h1 {
  margin: 0;
  padding: 0;
}

.header__profile__summary {
  margin: auto 4rem;
}


.header__profile__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: .85rem;
  color: #81859F;
  text-transform: uppercase;
  margin-right: 15px;
}



.link__hover {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.link__hover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link__hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section__content__skills {
  margin: auto 1rem;
}

.section__content__skills_title h2 {
  font-weight: 700;
  font-size: 20px;
  margin: 1rem;
  color: #757575;
}

.section__content__skills p {
  font-weight: 700;
  font-size: .9rem;
  margin-bottom: 1rem;
  color: #757575;
}

.section__content__skills ul li {
  list-style: none;
  display: inline;
  margin-left: 10px;
  padding: .30rem;
} */