@font-face {
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v18-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v18-latin-700.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  color: rgba(112, 118, 126, .55);
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
  height: 100vh;
}

a {
  transition: all .2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: 1px
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

header {
  background-color: #f5f5f5;
  padding: 120px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

header h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000
}

header p {
  font-weight: 300;
  max-width: 700px;
  color: #000;
}

header img {
  height: 250px;
  border-radius: 50%;
}

.divider-block {
  width: 50%;
  margin: 0px auto;
  border-bottom: #e3e3e3 solid 1px;
}

.links a {
  position: relative;
  display: inline-block;
  color: #81859F;
  text-transform: uppercase;
  margin-right: 15px;
}

.link__hover {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.link__hover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link__hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section__area {
  display: flex;
  justify-content: center;
  padding: 100px 170px;
}

.section__title {
  margin-right: 70px;
  color: #757575;
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
  letter-spacing: 2px
}

.section__content {
  width: 100%;
  max-width: 650px
}

.section__skills_list {
  margin-left: .9rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section__category__label {
  font-weight: 700;
  font-size: .9rem;
  margin-bottom: 1rem;
  color: #757575;
}

.section__skills__category ul li {
  font-weight: 300;
  max-width: 700px;
  color: #000;
}

.section__project__label {
  color: #81859F;
}

.section__projects__category {
  margin-bottom: 50px;
  max-width: 500px;
}

.section__projects__category p {
  font-weight: 300;
  max-width: 700px;
  color: #000;
}

.project__tags {
  border: 1px solid #0073AA;
  border-radius: 3px;
  padding: 2px 7px;
  font-size: .75rem;
  margin-right: 3px;
  color: #4b6cc1;
}

footer {
  padding: 50px 80px;
  margin-top: auto;
}